/* Стили для index.html */

/* основной цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* черный фон #2F303A */
/* голубой фон #2196F3 */

/* голубой #2196F3   */
/* черный лого #000000 */
/* черный не лого #212121 */
/* черный для массива текста #757575 */
/* белый #FFFFFF */

:root {
    --background-color-white: #FFFFFF;
    --background-color-black: #2F303A;
    --background-color-grey: #F5F4FA;
    --background-color-blue: #2196F3;
    --font-сolor-blue: #2196F3;
    --font-сolor-black-logo: #000000;
    --font-сolor-white: #FFFFFF;
    --font-сolor-black-p: #757575;
    --font-сolor-black-other: #212121;
}


body {
    background-color: #FFFFFF;
    color: #757575;
    font-family: Roboto, sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.button-main {
    background-color: var(--background-color-blue);
    color: var(--font-сolor-white);

    border-radius: 4px;
    border: 0;
}







/* Header */

.logo {
    font-size: 26px;
    line-height: 1.2;
}

.logo-blue {
    color: var(--font-сolor-blue);
    font-family: Raleway, sans-serif;
}

.logo-black {
    color: var(--font-сolor-black-logo);
    font-family: Raleway, sans-serif;
}

.logo-white {
    color: var(--font-сolor-white);
    font-family: Raleway, sans-serif;
}

.site-nav .link {
    color: var(--font-сolor-black-other);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--font-сolor-blue);
}

.studiya, .portfolio, .contacts, .mail, .tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
}

.mail-tel .link {
    color: var(--font-сolor-black-other);
}

.mail-tel .link:hover,
.mail-tel .link:focus {
    color: var(--font-сolor-blue);
}


/* MAIN */

/* Блок Заголовок */
.block-title {
    background-color: var(--background-color-black);
}

.h1 {
    color: var(--font-сolor-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

/* акценты в работе */
.title-s1 {
    color: var(--font-сolor-black-other);
}

.p-s1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

/* виды работ */

.title-s2 {
    color: var(--font-сolor-black-other);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* состав команды */
.team {
    background-color: var(--background-color-grey);
}

.title-s3 {
    color: var(--font-сolor-black-other);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.name-s3 {
    color: var(--font-сolor-black-other);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    
}

.job-s3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}

/* контакты поддержки */

.footer {
    background-color: var(--background-color-black);
    color: var(--font-сolor-white);
}

.location {
    color: var(--font-сolor-white);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.mail,
.tel-nom {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}















/* Стили для portfolio.html */

/* .button-portfolio {
    background-color: var(--background-color-grey);
    color: var(--font-сolor-black-other);
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    border-radius: 4px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.button-portfolio-all:hover,
.button-portfolio-websites:hover,
.button-portfolio-apps:hover,
.button-portfolio-design:hover,
.button-portfolio-marketing:hover {
    color: var(--font-сolor-white);
    background-color: var(--background-color-blue)
}

.button-portfolio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

.button-portfolio-all {
    position: absolute;
    width: 73px;
    height: 38px;
    left: 495px;
    top: 174px;
}

.button-portfolio-websites {
    position: absolute;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
}

.button-portfolio-apps {
    position: absolute;
    width: 145px;
    height: 38px;
    left: 712px;
    top: 174px;
}

.button-portfolio-design {
    position: absolute;
    width: 103px;
    height: 38px;
    left: 865px;
    top: 174px;
}

.button-portfolio-marketing {
    position: absolute;
    width: 130px;
    height: 38px;
    left: 976px;
    top: 174px;
}




.title-img {
    color: var(--font-сolor-black-other);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.p-portfolio {
    color: var(--font-сolor-black-p);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}

